Repository mattias-skold/mdx-extras: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint, format-check

type-check:
  run: pnpm type-check

lint:
  run: pnpm lint

format-check:
  run: pnpm format:check

Initial publish
  .changeset/README.md
  .changeset/config.json
  .changeset/lazy-sites-feel.md
  .claude/settings.local.json
  .github/workflows/release.yml
  README.md
  package.json
  packages/source-preview-plugin/README.md
  packages/source-preview-plugin/src/SourceWithPreviewWrapper.tsx
  pnpm-lock.yaml
  specs/001-package-publishing.md
  specs/release.md
  specs/trusted-publishing-setup.md
Due: type-check, lint, format-check

Try build again
  packages/tooling/package.json
  packages/tooling/vite.config.base.ts
  pnpm-lock.yaml
Due: type-check, lint, format-check

Improve package json
  .changeset/shaggy-windows-sell.md
  .claude/settings.local.json
  packages/source-preview-plugin/package.json
Due: format-check

Test automation
  .changeset/every-kiwis-doubt.md
Due: format-check

Try to use the current GH token for the first step
  .github/workflows/release.yml
Due: none

Stub for typeahead plugin
  .claude/settings.local.json
  packages/source-preview-plugin/.gitignore
  packages/typeahead-plugin/.gitignore
  packages/typeahead-plugin/eslint.config.mjs
  packages/typeahead-plugin/package.json
  packages/typeahead-plugin/src/examples/hello.stories.tsx
  packages/typeahead-plugin/src/index.tsx
  packages/typeahead-plugin/tsconfig.json
  packages/typeahead-plugin/vite.config.ts
  pnpm-lock.yaml
Due: type-check, lint, format-check

Typeahead plugin
  .changeset/ten-adults-retire.md
  .changeset/wacky-regions-laugh.md
  .claude/settings.local.json
  .serena/.gitignore
  .serena/project.yml
  README.md
  packages/source-preview-plugin/README.md
  packages/tooling/README.md
  packages/typeahead-plugin/README.md
  packages/typeahead-plugin/package.json
  packages/typeahead-plugin/src/TypeaheadNode.ts
  packages/typeahead-plugin/src/TypeaheadPlugin.tsx
  packages/typeahead-plugin/src/examples/hello.stories.tsx
  packages/typeahead-plugin/src/examples/mentions.stories.tsx
  packages/typeahead-plugin/src/examples/multi.stories.tsx
  packages/typeahead-plugin/src/index.tsx
  packages/typeahead-plugin/src/styles.css
  packages/typeahead-plugin/src/types.ts
  pnpm-lock.yaml
  specs/002-typeahead-plugin.md
  specs/typeahead-plugin.md
Due: type-check, lint, format-check

Improve types
  packages/typeahead-plugin/eslint.config.mjs
  packages/typeahead-plugin/src/TypeaheadPlugin.tsx
  packages/typeahead-plugin/src/examples/complex-object-mentions.stories.tsx
  packages/typeahead-plugin/src/index.tsx
  packages/typeahead-plugin/src/types.ts
Due: type-check, lint, format-check

Changeset
  .changeset/cold-phones-open.md
Due: format-check

Type rename
  .claude/settings.local.json
  packages/typeahead-plugin/src/TypeaheadPlugin.tsx
  packages/typeahead-plugin/src/examples/complex-object-mentions.stories.tsx
  packages/typeahead-plugin/src/examples/mentions.stories.tsx
  packages/typeahead-plugin/src/index.tsx
  packages/typeahead-plugin/src/types.ts
Due: type-check, lint, format-check

Add full editor toolbar to source-preview story
  packages/source-preview-plugin/src/examples/basic.stories.tsx
Due: type-check, lint, format-check

Path conditions:
  type-check: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx}
  format-check: any of: *.{ts,tsx,js,jsx,json,md}
